  
  
 <br><br><br><br><br>
   <% @orderitems.each do |orderitem| %>
      <tr>
        <td><%= orderitem.created_at %></td>
        
        <td><%= orderitem.title %></td>
       <td><%= orderitem.order_id %></td>
       
      </tr>
    <% end %>
