<!------ meta_tags ------->
<% set_meta_tags noindex: true
                 title : 'Order confirmation'%>
<!------------------------>

<div id="itemsContainer">

<div class="containerletter">
<br>
Dear Customer, <br>
Thank you for your order n*<%= @order.id %>. <br>
This order will be shipped to the address you provided. <br>
If you have any questions, please contact us. <br>
Thank you!<br>
Coffee Connect <br>
<br>

<%=link_to "Continue Shopping","/products",class:"button"%>
<%=link_to "Back to Home","/",class:"button"%>


 
 </div>
 </div>
