<br>
<h1>Editing Site Content</h1>

<%= render 'form', site_content: @site_content %>

<%#= link_to 'Show', @site_content %> 
<%#= link_to 'Back', site_contents_path %>
<div class="w3-container w3-center">
<%= link_to 'Back to page', :back , class:"w3-button w3-teal w3-hover-black width-50" %>
<br> <br>
</div>