// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//aboutSend 

.containerletter{
    font-family: Courier, monospace;
    font-size: 30px;
    color: black;
    letter-spacing: 2px;
    font-weight:bold;
    text-align: center;
}

#xmas{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB9l_T3WlGiIyFj9jJyebdIPYDsn-FFPXorl0HoCKdDv-hzA2JbQ&s");
    
    
    
    
}