<!------ meta_tags ------->
<% set_meta_tags noindex: true,
                 title: 'Newsletter'%>
<!------------------------>

<div class="w3-container w3-center">
<br><br><br><br><br>
<p>Enter email:</p>
<%= render 'form', subscribe: @subscribe %>
<br><br>

<%= link_to 'Back', '/', class:"tdnone w3-button w3-teal w3-hover-black"  %>
<br>
<br>


</div>