<div style="border:1px solid black; width 200px;">
  <% @brands.each do |brand| %>
       <div>
        <p><a class="hover-black tdnone" href="/brand/<%= brand.title %>"><%= brand.title %></a></p>       
        </div>
    
    <% end %>
</div>
