<% @categories.each do |category| %>
      
           
          <p><a class="hover-black tdnone" href="/category/<%= category.title %>"><%= category.title %></a></p>
           
            
        
    
    <% end %>
    
   
