<% @testprices.each do |testprice| %>
    <div style="border:1px solid black; width:200px;">
           
        <p><a class="hover-black tdnone" href="/price/<%= testprice.title %>"><%= testprice.title %>s</a></p>
    </div>
    
<% end %>
