<% @weights.each do |weight| %>
    <div style="border:1px solid black; width:200px;">
           
        <p><a class="hover-black tdnone" href="/weight/<%= weight.value %>"><%= weight.description %></a></p>
    </div>
    
<% end %>
