<% @weights.each do |weight| %>
    <div style="border:1px solid black; width:200px;">
           
        <p><a class="hover-black tdnone" href="/weight/<%= weight.description %>"><%= weight.description %>s</a></p>
    </div>
    
<% end %>
